* {
  box-sizing: border-box;
}

body {
  background-color: rgb(237, 237, 237);
  margin: 25px;
}

article{
  height: 400px;
  width: 800px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 25px;
}

img {
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

h1 , h2 ,p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#myaccount {
  color: grey;
}

button{
  color: rgb(72, 163, 243);
  background-color: white;
  border-width: 0;
  padding: 0px;
  margin: 0px;;
}


