/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  border-radius: 10px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  /*Style me! Change my border, set a border radius or what you want to try out. :) */
}

.button2 {
  background-color: rgb(144, 0, 255);
  /*Style me! Change my color, or my background-color. Or both! You can test out different color modes here - like HEX, RGB, ... */
}

.button3 {
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /*Style me! You can test out changing the font, or font size, ...*/
}

.button4 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /*Style me! Can you add a shadow to this button? Maybe play around with the shadow properties, as well? You can even color the shadow, make it bigger or smaller, ... */
}

/* Feel free to play around with other properties, as well. */

.button2:hover {
  opacity: 100%;
  transition: opacity 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: aqua;
}

.button1:hover {
  background-color: #7800f8;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}